/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #a5f3fc;
  --primary-300: #67e8f9;
  --primary-400: #22d3ee;
  --primary-500: #06b6d4;
  --primary-600: #0891b2;
  --primary-700: #0e7490;
  --primary-800: #155e75;
  --primary-900: #164e63;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: rgb(71, 85, 105);
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/*Project CSS*/
/* mainPage */
.initial_page {
  height: 100vh;
  background-color: white;
}

.initial_page .navBar {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
}

.initial_page .navBar h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

.initial_page .navBar p {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--grey-500);
}

.slide-content {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  width: 100vw;
  position: relative;
}

.initial_page .bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
}
.initial_page .btn {
  width: 90%;
  margin: 1rem 1rem;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0caa41;
}

.swiper-pagination-bullet {
  margin: 0.25rem;
}
.swiper-pagination-bullet-active {
  background-color: #fd6304;
}

/* Register Page - LoginPage*/
.login_page .form,
.register_page .form {
  display: flex;
  flex-direction: column;
}

.login_page label,
.register_page label {
  font-size: 0.7rem;
}

.login_page h4,
.register_page h4 {
  font-size: 1.4rem;
  color: #fd6d04;
  font-weight: 600;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.login_page .btn,
.register_page .btn {
  margin: 2rem auto 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #0caa41;
}

.login_page p,
.register_page p {
  font-size: 0.7rem;
  font-weight: 500;
  color: #555555;
  margin-top: 2rem;
  text-align: center;
}

/* Share Page */

.share_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
  text-align: center;
}

.share_page .form {
  height: 90%;
  width: 90vw;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.share_page div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share_page section {
  width: 90%;
  margin-bottom: 1.5rem;
}

.share_page p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.share_page ul {
  list-style-type: disc; /* or other list-style-type values like square or circle */
  font-size: 0.9rem;
  font-weight: 500;
  text-align: justify;
}
.share_page h4 {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.share_page h3 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #0caa41;
  margin-bottom: 1rem;
}

.share_page .btn {
  margin: 3rem auto 0 auto;
  padding: 0.6rem 0;
  background-color: #0caa41;
  width: 50vw;
}

.share_page .sendBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fd6d04;
  padding: 0.5rem 0;
}
.share_page .feedback {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #fd6304;
}

.share_page .disabled {
  cursor: none;
  background-color: #fd6c04ae;
}

/* Admin Panel */

.admin_panel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin_panel .btn {
  margin: 3rem auto 0 auto;
  padding: 0.6rem 0;
  background-color: #0caa41;
  width: 50vw;
}

/* Admin Panel - Add New Post */

.add_new_post_page div {
  margin: 1.2rem 0;
}

.add_new_post_page label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

/* Admin Panel - Review Contribution */
.review_contributions_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.review_contributions_page h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.review_contributions_page .form {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}

/* Posts Page */

.posts_page {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100vw;
  align-items: center;
  padding-bottom: 15vh;
}

.navBar .form-input {
  padding: 0.65rem 1.2rem;
  border-radius: 7px;
}

.navBar .second_row {
  width: 100%;
  padding: 0.5rem 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.posts_page .post {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2.5rem;
}

.post .form {
  margin: 0;
  padding: 0.5rem 1rem;
}

.post .form-premium {
  background-color: var(--grey-100);
}

.post .form-premium .secondRow {
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  flex-direction: column;
  color: #ffbf00;
}

.form-premium .secondRow p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.posts_page .source {
  border: 1.7px solid #0caa41;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: -0.15rem;
  padding: 0.2rem 1rem;
  font-size: 0.6rem;
  font-weight: 600;
  background-color: #e9e9e9;
}
.posts_page .form {
  border: 1.7px solid #0caa41;
  border-radius: 10px;
}
.posts_page .firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.posts_page .secondRow ul {
  list-style-type: disc; /* or other list-style-type values like square or circle */
  font-size: 0.7rem;
  font-weight: 500;
  text-align: justify;
  padding: 0.5rem 2rem;
}

.post li {
  margin: 0.35rem 0;
}

.posts_page .thirdRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.thirdRow .company {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--grey-600);
}

.thirdRow .foundBy {
  font-size: 0.6rem;
  font-weight: 500;
  color: #040d38bf;
  margin-bottom: 0.2rem;
}

.thirdRow .timePassed {
  color: var(--grey-500);
  font-size: 0.5rem;
  font-weight: 600;
}

/* Favorites Page */
.favorites_page h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--grey-500);
  margin: 3rem 0 0 0;
}

/* Resources Page */

.resources_page {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.resources_page .btn {
  margin: 3rem auto 0 auto;
  padding: 0.6rem 0;
  background-color: #fd6304;
  width: 80vw;
}

/* Profile Page */
.profile_page {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.profile_page .btn {
  margin: 3rem auto 0 auto;
  padding: 0.6rem 0;
  background-color: #fd6304;
  width: 80vw;
}

/* User Contributions Page */
.contributions_page {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
  padding-top: 2rem;
}

.contributions_page .contributions {
  max-height: 75%;
  overflow-y: auto;
}

.contributions_page .form {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem auto;
}

.contributions_page .earnings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contributions_page .line {
  width: 90%;
  border: 0.75px solid var(--grey-500);
  margin-bottom: 1rem;
}
.earnings .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.earnings .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}

.earnings .btn {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #0caa41;
}
.earnings p {
  font-size: 2rem;
  font-weight: 600;
}
/*  */
/*  */

/* filter Page */

.filter_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}

.filter_page .topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #0caa41e1;
  color: white;
  font-size: 1.5rem;
}
.topBar .btn {
  background-color: #fd6304;
  padding: 0.4rem 1.2rem;
}

.filter_page .filters {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter_page .filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.filter .btn {
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #0caa41;
  color: black;
}

.filter_page .filter_btn {
  width: 90%;
  background-color: #fd6304;
  margin: 1rem;
  padding: 0.6rem;
  font-weight: 600;
}

.options_popup {
  width: 90%;
  max-height: 50%;
  overflow-y: auto;
  position: absolute;
  top: 50%; /* Set top to 50% */
  left: 50%; /* Set left to 50% */
  transform: translate(-50%, -50%); /* Use transform to center */
  z-index: 5;
}

.options_popup .option {
  border-bottom: 0.5px solid var(--grey-300);
  padding: 0.5rem;
  padding-top: 0.75rem;
}

/* GoPremium Page */
.premium_page {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.premium_page .form {
  height: 100%;
  width: 90vw;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}

.premium_page h3 {
  font-size: 150%;
  margin: 0.75rem auto;
}

.premium_page h4 {
  font-size: 80%;
  font-weight: 600;
  margin-bottom: 5rem;
}

.premium_page p {
  font-size: 100%;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--grey-700);
}

.premium_page b {
  color: #ffbf00;
}

.premium_page h2 {
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 3rem;
}

.premium_page .btn {
  width: 90%;
  background-color: #ffbf00;
  margin: 1rem;
  padding: 0.6rem;
  font-weight: 600;
}

/* Shared Layout */
.shared_layout .navBar {
  background-color: #0caa41e1;
  width: 100%;
  /* margin-bottom: 2rem; */
  color: white;
  box-shadow: var(--shadow-1);
}

.shared_layout .first_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.2rem;
  width: 100%;
  font-size: 1.4rem;
}

.shared_layout .logo {
  /* color: #0caa41; */
  font-size: 1.5rem;
  font-weight: 600;
}

.shared_layout .footer {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.5rem;
}

.footer .section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 4.5vh;
}

.footer p {
  font-size: 0.6rem;
}
/*  */
/*  */
/*  */
.first_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first_page img {
  width: 80%;
  margin: 3.5rem auto;
}

.first_page h4 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.first_page h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.second_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second_page h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.second_page h3 {
  font-size: 1.5;
  font-weight: 600;
  margin-top: 0.75rem;
}

.second_page img {
  margin: 3rem auto;
}

.second_page ul {
  list-style-type: disc; /* or other list-style-type values like square or circle */
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
}

.second_page li {
  margin: 1rem 0;
}

.third_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.third_page h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.75rem;
  line-height: 2rem;
}

.third_page h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fd6304;
}

.third_page img {
  margin: 3rem auto;
  width: 80%;
}

.third_page p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.75rem;
  margin-top: 1.2rem;
  line-height: 2rem;
}

.third_page b {
  color: #0caa41;
}

.fourth_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fourth_page h4 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0.75rem;
}

.fourth_page h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.fourth_page p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 300;
}

.fourth_page img {
  margin: 3rem 0;
}
